<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :enunciation, style: "display: block" %>
    <%= form.text_field :enunciation %>
  </div>

  <div>
    <%= form.label :questionnaire_id, "Questionnaire", style: "display: block" %>
    <%= form.collection_select :questionnaire_id, @questionnaires, :id, :title, prompt: "Select a questionnaire" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
