<div id="<%= dom_id questionnaire %>">
  <div>
    <strong>Code:</strong>
    <%= questionnaire.code %>
  </div>

  <div>
    <strong>Title:</strong>
    <%= questionnaire.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= questionnaire.description %>
  </div>

  <div>
    <strong>Duration minutes:</strong>
    <%= questionnaire.duration_minutes %>
  </div>

</div>
