<p style="color: green"><%= notice %></p>

<%= link_to "Back to questionnaires", questionnaires_path %>

<%= render @questionnaire %>

<h1><%= @questionnaire.title %></h1>
<p><%= @questionnaire.description %></p>

<h2>Questions</h2>
<a href="/questions/new">Add more questions</a>
<ul>
  <% @questions.each do |question| %>
    <li><%= question.enunciation %></li>
  <% end %>
</ul>


<div class="flex flex-row pt-[4vh]">
  <%= link_to "Edit this questionnaire", edit_questionnaire_path(@questionnaire) %> |

  <%= button_to "Destroy this questionnaire", @questionnaire, method: :delete %>
</div>
