<p style="color: green"><%= notice %></p>

<%= link_to "Back to questionnaires", questionnaires_path %>

<%= render @questionnaire %>

<div class="flex flex-row pt-[4vh]">
  <%= link_to "Edit this questionnaire", edit_questionnaire_path(@questionnaire) %> |

  <%= button_to "Destroy this questionnaire", @questionnaire, method: :delete %>
</div>
